// breakpoints (desktop first)
$b-mobile-mini: 479px;
$b-mobile-midi: 639px;
$b-mobile: 699px;
$b-tablet: 1023px;
$b-tablet-maxi: 1199px;
$b-labtop-mini: 1299px;
$b-laptop: 1439px;
$b-desktop: 1899px;
$b-desktop-maxi: 2239px;

//fonts
$font1: 'Lato', helvetica, tahoma, arial, sans-serif;
$font2: 'Elgoc', helvetica, tahoma, arial, sans-serif;
$font3: 'Montserrat', helvetica, tahoma, arial, sans-serif;


//colors
$c-black: #000;
$c-white: #fff;
$c-accent: #fff;

// timing
$time-sm: 300ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;

// layout
$container: 1180px;
$container-padding-x: 30px;
$container-max-width: $container + $container-padding-x * 2;
$wrap-lg: 60px;
$wrap-md: 45px;
$wrap-sm: 30px;

// tags
$h: "h1, h2, h3, h4, h5, h6";
$input-txt: 'input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea';

// z-index
$z-index: (
	cursor    : 100000000,
	modal     : 1200,
	overlay   : 1100,
	header    : 1000,
	footer    : 900,
	dropdown  : 800
);

$s-phone: 375px;
$tablet: 700px;

// fonts size

$rem-default-font-size: 16px; //general.scss


$vw-base: 14.4px;
$vw-base-laptop: 14.4px;
$vw-base-mobile: 3.75px;

@function fzd($size) {
  $vw-size: $size / $vw-base;
  @return $vw-size * 1vw;
}

@function fzl($size) {
  $vw-size: $size / $vw-base-laptop;
  @return $vw-size * 1vw;
}

@function fzm($size) {
  $vw-size: $size / $vw-base-mobile;
  @return $vw-size * 1vw;
}

:root {
  	// From header
	/* Colours */
	--primary-color-black: #000000;
	--primary-color-white: #ffffff;
	--primary-color-cnn-red: #cb1517;
	--primary-color-cnn-gray: #737373;
	--primary-color-cnn-gold: #b59343;
	--primary-color-cnn-black: #262626;
	/* Fonts */
	--font-family-fallback: 'Helvetica', 'Arial', sans-serif;
	// --font-cnn: 'CNNSansDisplay', var(--font-family-fallback);
	// --font-cnn-bold: 'CNN Sans Display Bold', var(--font-family-fallback);
	// --font-cnn: $font1Name, var(--font-family-fallback);
	// --font-cnn-bold: $font1Name, var(--font-family-fallback);
	--font-cnn: var(--font-family-fallback);
	--font-cnn-bold: var(--font-family-fallback);
	// From header
}
