// breakpoints (desktop first)
$b-mobile-standart: 375px;
$b-mobile-mini: 400px;
$b-mobile-small: 479px;
$b-mobile-midi: 539px;
$b-mobile: 699px;
$b-tablet-mini: 899px;
$b-tablet: 1023px;
$b-tablet-maxi: 1199px;
$b-laptop-mini: 1299px;
$b-laptop: 1439px;
$b-laptop-maxi: 1599px;
$b-desktop-mini: 1799px;
$b-desktop: 1999px;
$b-desktop-maxi: 2239px;

//fonts
$font1: 'Lato', helvetica, tahoma, arial, sans-serif;
$font2: 'Elgoc', helvetica, tahoma, arial, sans-serif;
$font3: 'Montserrat', helvetica, tahoma, arial, sans-serif;

//colors
$c-black: #000;
$c-white: #fff;
$c-accent: #fff;

// timing
$time-sm: 300ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;

// layout
$container: 1180px;
$container-padding-x: 30px;
$container-max-width: $container + $container-padding-x * 2;
$wrap-lg: 60px;
$wrap-md: 45px;
$wrap-sm: 30px;

// tags
$h: 'h1, h2, h3, h4, h5, h6';
$input-txt: 'input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea';

// z-index
$z-index: (
	cursor: 100000000,
	modal: 1200,
	overlay: 1100,
	header: 1000,
	footer: 900,
	dropdown: 800
);

$s-phone: 375px;
$tablet: 700px;

// fonts size
$rem-default-font-size: 16px; //general.scss
$default-font-size: 16px;
$default-line-height: 24/16; /* 1.5 */
$default-font-family: $font1;
$default-font-style: normal;
$default-font-weight: 400;

//colors
$color-default: #fff;
$color-body: #fff;

:root {
	--body-font-family: $default-font-family;
	--body-font-weight: $default-font-weight;
	--body-font-style: $default-font-style;
	--body-font-size: $default-font-size;
	--body-line-height: $default-line-height;
	--body-color: $color-default;
	--body-bg-color: $color-body;
	--color-default: $color-default;
	// From header
	/* Colours */
	--primary-color-black: #000000;
	--primary-color-white: #ffffff;
	--primary-color-cnn-red: #cb1517;
	--primary-color-cnn-gray: #737373;
	--primary-color-cnn-gold: #b59343;
	--primary-color-cnn-black: #262626;
	/* Fonts */
	--font-family-fallback: 'Helvetica', 'Arial', sans-serif;
	// --font-cnn: 'CNNSansDisplay', var(--font-family-fallback);
	// --font-cnn-bold: 'CNN Sans Display Bold', var(--font-family-fallback);
	// --font-cnn: $font1Name, var(--font-family-fallback);
	// --font-cnn-bold: $font1Name, var(--font-family-fallback);
	--font-cnn: var(--font-family-fallback);
	--font-cnn-bold: var(--font-family-fallback);
	// From header
}
