<div class="container-hub">
  <div class="logo-hub">
    <a href="https://www.mongoliatravel.guide/en" target="_blank">
      <img src="{{ url.step1 }}img/logo-big.svg" alt="image">
    </a>
  </div>

  <div class="burger-btns">
    <button class="btn-burger" data-click-burger-btn>
      <span></span><span></span>
    </button>
  </div>

  <div class="container-hub__list" data-hub-list>
    {% include '../pages/hub/_hub1.twig' %}
    {% include '../pages/hub/_hub2.twig' %}
    {% include './_burger.twig' %}
  </div>
</div>