<section class="flex h-[650px] relative xs:flex-col xs:h-auto">
	<div
		class="xs:h-[300px] xs:w-full w-1/2 bg-blue text-white h-full bg-[url('../img/vector.png')] bg-size-full bg-bottom bg-no-repeat relative">
		<img src="{{ url.step1 }}img/logo.png"
			class="absolute top-10 right-8 w-[185px] xs:w-[110px] xs:top-[30px] xs:right-[20px]">
	</div>
	<div
		class="xs:h-[300px] xs:order-first xs:w-full w-1/2 h-full bg-[url('../img/field.jpg')] bg-cover bg-no-repeat "></div>
	<div
		class="width-container absolute w-full left-1/2 top-1/2 xs:top-[445px] translate-x-[-50%] translate-y-[-50%] text-orange xl:max-w-[90%] tb:max-w-[97%] xs:max-w-[100%]">
		<h2 class="text-[62px] xs:text-[48px] m-0">Go Mongolia
		</h2>
		<a href="#" class="btn-round btn btn--orange mt-[50px] flex items-center">
			<div
				class="btn-round_circle w-20 h-20 flex items-center justify-center bg-orange rounded-full">
				<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15"
					viewbox="0 0 14 15" fill="none">
					<path
						d="M5.41254 14.25V0.75H8.62254V14.25H5.41254ZM0.102539 9V6H13.9325V9H0.102539Z"
						fill="#214599" />
				</svg>
			</div>
			<span class="btn-round_text block ms-4 text-lg">
				Start your Adventure
			</span>
		</a>

	</div>
</section>