<section class="flex h-[650px] tb:h-[550px] relative xs:flex-col xs:h-auto">
	<div
		class="xs:h-[300px] xs:w-full w-1/2 bg-blue text-white h-full bg-[url('../img/vector-cta.jpg')] bg-size-cover bg-bottom bg-no-repeat relative bg-size-full-x-lg">

		<div
			class="text-center h-full max-w-[720px] ml-auto flex justify-center items-center">
			<div class="px-20 py-40 max-w-[540px] mx-auto">
				<a href="https://www.mongoliatravel.guide/en" class="mb-[65px] max-w-[202px] xs:max-w-[145px] xs:mb-[36px] inline-block" target="_blank">
					<img src="{{ url.step1 }}img/logo-big.svg"
						alt="logotype">
				</a>
				<div class="mb-[120px] tb:mb-[50px]">
					<h2
						class="text-[80px] tb:text-[58px] xs:text-[32px] m-0 font-bold leading-[0.9] text-white">It's
						Time to <br class="xs:hidden">Go
						Mongolia</h2>
					<a href="https://www.mongoliatravel.guide/en"
						class="btn-round btn btn--orange mt-[40px] xs:mt-[20px] flex items-center mx-auto" target="_blank">
						<div
							class="btn-round_circle w-20 h-20 flex items-center justify-center bg-white rounded-full">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15"
								viewbox="0 0 14 15" fill="none">
								<path
									d="M5.41254 14.25V0.75H8.62254V14.25H5.41254ZM0.102539 9V6H13.9325V9H0.102539Z"
									fill="#214599" />
							</svg>
						</div>
						<span class="btn-round_text block text-white ms-4 text-lg">
							Start Your Adventure
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div
		class="xs:h-[300px] xs:order-first xs:w-full w-1/2 h-full bg-[url('../img/field.jpg')] bg-cover bg-no-repeat "></div>
</section>