---
title: Meet Mongolia - Rio Tinto - CNN
description: Explore the untapped potential for adventure, a dynamic business landscape, and the culture of a progressive nation in Mongolia.
subTitle: A Country on the Go
subTitle2: A Country on the Go
ogDescription: Discover Mongolia, a country rich with culture, history, and breath-taking natural beauty, and explore its untapped potential for business, leisure, and adventure.
twitterDescription: Discover Mongolia, a country rich with culture, history, and breath-taking natural beauty, and explore its untapped potential for business, leisure, and adventure.
metaImg: hub-meta.jpg
pageName: homePage
---

{% set url = { step1: '', step2: './', step3: '/', step4: '', stepClass: 'step-link-change-url' } %} {% extends 'layouts/_page-default.twig' %} {% block content %}

<main class="pt-[30px]">
	{% include './pages/hub/_hub.twig' %}
	<button class="btn ml-0">btnhover</button>
	<button class="btn ml-0 -disabled">btn</button>
	<button class="btn ml-0">btnhover</button>
</main>

{% endblock %}
