%btn {
	position: relative;
	z-index: 1;
	outline: none;
	box-shadow: none;
	border-radius: 0px;
	border-top: none;
	background: none;
	user-select: none;
	display: inline-block;
	color: inherit;
	border: none;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
	line-height: normal;
	vertical-align: middle;
	width: auto;
	height: auto;
	transition: all 0.2s ease-in-out;

	&.-disabled {
		cursor: default;
	}
}

.btn {
	@extend .btn;
	// @include adaptive-font-size(30px, 50px, 768px, 1440px);
	font-size: f-clamp(20px, 50px, 768px, 1440px);
	padding: f-clamp(20, 50, 768, 1440) f-clamp(12, 150, 768, 1440);
	background-color: #ccc;

	@include hover-active {
		&:not(.-disabled) {
			background-color: yellow;
			background-color: var(--);
		}
	}
}
