html.has-scroll-smooth,
html.has-scroll-smooth body {
  height: 100%;
  overflow: hidden;
}

.user-visited {
  [data-enter-page-first] .hub_two {
    display: none !important;
  }
}

html,
body {
	--bodyFontFamily: var(--body-font-family);
	--bodyFontWeight: var(--body-font-weight);
	--bodyFontStyle: var(--body-font-style);
	--bodyFontSize: var(--body-font-size);
	--bodyLineHeight: var(--body-line-height);
	--bodyColor: var(--body-color);
	--bodyBgColor: var(--body-bg-color);

	font: var(--bodyFontStyle) var(--bodyFontWeight) var(--bodyFontSize)/var(--bodyLineHeight) var(--bodyFontFamily);
  color: var(--bodyColor);
	background-color: var(--bodyBgColor);


}

main {
  width: 100%;
}

video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

button,
a,
.is-cursor,
[type*='submit'] {
  cursor: pointer;
}

main section {
  position: relative;
}
